.architecture0,
.architecture1,
.architecture2,
.architecture3,
.architecture4 { background-image: url('architecture_icons.png'); width: 16px; height: 16px; }

.architecture0 { background-position: -0px; }
.architecture1 { background-position: -16px; }
.architecture2 { background-position: -32px; }
.architecture3 { background-position: -48px; }
.architecture4 { background-position: -64px; }
